*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00d5ff, #00ff1ec4);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    justify-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: whitesmoke;
}

.calculator-grid > button:hover {
    background-color: rgba(245, 245, 245, 0.795);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.575);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.previous-operand {
    color: rgba(201, 197, 197, 0.829);
    font-size: 1.5rem;
}
.current-operand {
    color: rgba(255, 255, 255, 0.829);
    font-size: 2.5rem;
}